@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
}
body {
    background: #111;
    padding-bottom: 300px;
    overflow-x: hidden;
}
body:before {
    content: 'Projects';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16em;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px #555;
}
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section h2 {
    margin-left: 200px;
    font-size: 3em;
/*     column: #fff; */
    margin-bottom: 20px;
    color: darkred;
    font-family: 'Orbitron', cursive;
}
section .container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section:nth-child(even) .container {
    flex-direction: row-reverse;
}
section .container .imgBx {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
section .container .content {
    position: absolute;
    right: 0;
    margin-top: 200px;
    margin-bottom: 40px;
    padding: 40px;
    background: #333;
    z-index: 1;
    max-width: 400px;
    color: #fff;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
}
section:nth-child(even) .container .content {
    left: 0;
}
.gh {
    display: grid;
    position: relative;
}
.info-check {
    position: absolute;
    display: flex;
    margin-left: 155px;
    bottom: 18px;
}
.demo {
    font-size: 12px;
    font-style: italic;
}